body {
  margin: 0;

  display: flex;
  flex-direction: column;

  background-color: black;

  font-family: sans-serif;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.main-content {
  padding-block-end: 32px;
  height: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.sticky-top-part {
  position: sticky;
  top: 0;
  background-color: black;
}

.preview-container {
  flex-basis: 230px;
  flex-shrink: 0;

  padding-block-start: 16px;
}

.scroll__container {
  --content-width-default: 100vw;
  --scroll-element-width: 260px;
  --scroll-element-margin-inline: calc(
    calc(var(--content-width-default) - var(--scroll-element-width)) / 2
  );
  --scroll--gap: 32px;

  height: 100%;

  display: flex;
  justify-self: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scroll__container::after {
  content: '';
  min-width: 1px;
}

.scroll__element-container {
  margin-inline-end: var(--scroll--gap);
  border-radius: 14px;
  min-width: 260px;

  overflow: hidden;
  scroll-snap-align: center;
}

.scroll__element-container:first-of-type {
  margin-inline-start: var(--scroll-element-margin-inline);
}

.scroll__element-container:last-of-type {
  margin-inline-end: var(--scroll-element-margin-inline);
}

@media screen and (min-width: 40em) {
  .scroll__container {
    scroll-snap-type: none;
  }

  .scroll__element-container:first-of-type {
    margin-inline-start: var(--scroll--gap);
  }

  .scroll__element-container:last-of-type {
    margin-inline-end: var(--scroll--gap);
  }
}

@media screen and (min-width: 74em) {
  .scroll__container {
    justify-content: center;
  }
}

.preview__element {
  height: 100%;
}

.preview-light-dark {
  display: flex;
  flex-direction: column;
}

.preview-light-dark__pane {
  padding: 32px 0;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-light-dark__pane_light {
  background-color: white;
}

.preview-light-dark__pane_dark {
  background-color: #1d1e1f;
}

.preview-widths {
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
}

.preview-widths__width-container {
  align-self: center;
}

.preview-widths__width-container:not(:first-of-type) {
  margin-block-start: 12px;
}

.preview-widths__width-container_full-width {
  align-self: stretch;
}

.button {
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 60px;
  height: 44px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 17px;
}

.button:not(:first-of-type) {
  margin-inline-start: 1em;
}

.button:hover {
  cursor: pointer;
}

.button_disabled:hover {
  cursor: default;
}

.adjustments {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;

  display: flex;
  flex-direction: column;
}

.adjustments__list-container {
  padding: 8px 0;
}

.adjustments__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;
}

.adjustments__list-item {
  padding: 0 4px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #555;

  cursor: pointer;
}

.adjustments__list-item:not(:first-of-type) {
}

.adjustments__list-item_active {
  color: #aaa;
}

.adjustments__button {
  padding: 4px 8px;
  border-radius: 16px;

  text-align: center;
  font-size: 17px;
  font-weight: bolder;
}

.adjustments__button_active {
  background-color: #999;
  color: #eee;
}

.adjustments__hue-count-container {
  display: none;
}

.adjustments__hue-count-container_active {
  display: block;
}

.adjustments__hue-count-paragraph {
  margin: 16px 24px 0;
  color: #555;
}

.adjustments__hue-count-label {
  color: #aaa;
  font-weight: bolder;
}

.adjustments__options-container {
  margin-block-end: 32px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: scroll;

  justify-content: center;
}

.adjustments__option-box {
  box-sizing: border-box;
  margin: 8px;
  padding: 16px;
  border-radius: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 4px solid black;

  background-color: #1f1f1f;

  cursor: pointer;
}

.adjustments__option-box_active {
  border: 4px solid #aaa;
}

.footer {
}

.footer__link-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  list-style-type: none;
}

.footer__link {
  padding: 1em;

  text-decoration: none;
  display: block;
  color: #333;
}

.debug-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.debug-pre {
  color: gray;
  font-size: 10px;
}

.debug-pre_off {
  opacity: 0;
}

/* Positioning */
/* Display */
/* Colors */
/* Type */
/* Other */
